# {{ ansible_managed }}

################################ GENERAL  #####################################

daemonize {{ item.config.daemonize|default('yes') }}
pidfile {{ item.home~'/run/redis.pid' }}
port  {{ item.config.port|default('6379') }}
tcp-backlog {{ item.config.tcp_backlog|default('511') }}
bind {{ item.config.bind|default('0.0.0.0') }}
{% if item.config.unixsocket is defined %}
unixsocket {{ item.home~'/run/redis.sock' }}
unixsocketperm {{ item.config.unixsocketperm|default('700') }}
{% endif %}
timeout {{ item.config.timeout|default('0') }}
tcp-keepalive {{ item.config.tcp_keepalive|default('0') }}
loglevel {{ item.config.loglevel|default('notice') }}
logfile {{ item.home~'/log/redis.log' }}
{% if item.config.syslog_enabled is defined and item.config.syslog_enabled == "yes" %}
syslog-enabled yes
syslog-ident {{ item.config.syslog_ident|default('redis') }}
syslog-facility {{ item.config.syslog_facility|default('local0') }}
{% endif %}
databases {{ item.config.databases|default('16') }}

################################ SNAPSHOTTING  ################################

{% if item.config.saves is defined %}
{% for save in item.config.saves %}
save {{ save['seconds'] }} {{ save['threshold'] }}
{% endfor %}
{% else %}
save 900 1
save 300 10
save 60 10000
{% endif %}
stop-writes-on-bgsave-error {{ item.config.stop_writes_on_bgsave_error|default('yes') }}
rdbcompression {{ item.config.rdbcompression|default('yes') }}
rdbchecksum {{ item.config.rdbchecksum|default('yes') }}
dbfilename {{ item.config.dbfilename|default('dump.rdb') }}
dir {{ item.home~'/data' }}
