# {{ ansible_managed }}

################################ GENERAL  #####################################

daemonize {{ item.config.daemonize|default('yes') }}
pidfile {{ item.home~'/run/redis.pid' }}
port  {{ item.config.port|default('6379') }}
tcp-backlog {{ item.config.tcp_backlog|default('511') }}
bind {{ item.config.bind|default('0.0.0.0') }}
{% if item.config.unixsocket is defined %}
unixsocket {{ item.home~'/run/redis.sock' }}
unixsocketperm {{ item.config.unixsocketperm|default('700') }}
{% endif %}
timeout {{ item.config.timeout|default('0') }}
tcp-keepalive {{ item.config.tcp_keepalive|default('0') }}
loglevel {{ item.config.loglevel|default('notice') }}
logfile {{ item.home~'/log/redis.log' }}
{% if item.config.syslog_enabled is defined and item.config.syslog_enabled == "yes" %}
syslog-enabled yes
syslog-ident {{ item.config.syslog_ident|default('redis') }}
syslog-facility {{ item.config.syslog_facility|default('local0') }}
{% endif %}
databases {{ item.config.databases|default('16') }}

################################ SNAPSHOTTING  ################################

{% if item.config.saves is defined %}
{% for save in item.config.saves %}
save {{ save['seconds'] }} {{ save['threshold'] }}
{% endfor %}
{% else %}
save 900 1
save 300 10
save 60 10000
{% endif %}
stop-writes-on-bgsave-error {{ item.config.stop_writes_on_bgsave_error|default('yes') }}
rdbcompression {{ item.config.rdbcompression|default('yes') }}
rdbchecksum {{ item.config.rdbchecksum|default('yes') }}
dbfilename {{ item.config.dbfilename|default('dump.rdb') }}
dir {{ item.home~'/data' }}

{% if item.config.slaveof is defined and item.config.slaveof.master is defined %}
################################# REPLICATION #################################

slaveof {{ item.config.slaveof.master }} {{ item.config.slaveof.port|default('6379') }}
{% if item.config.masterauth is defined %}
masterauth {{ item.config.masterauth }}
{% endif %}
slave-serve-stale-data {{ item.config.slave_serve_stale_data|default('yes') }}
slave-read-only {{ item.config.slave_read_only|default('yes') }}

# Replication SYNC strategy: disk or socket.
repl-diskless-sync {{ item.config.repl_diskless_sync|default('no') }}
repl-diskless-sync-delay {{ item.config.repl-diskless_sync_delay|default('5') }}
repl-ping-slave-period {{ item.config.repl_ping_slave_period|default('10') }}
repl-timeout {{ item.config.repl_timeout|default('60') }}
repl-disable-tcp-nodelay {{ item.config.repl_disable_tcp_nodelay|default('no') }}
repl-backlog-size {{ item.config.repl_backlog_size|default('1mb') }}
repl-backlog-ttl  {{ item.config.repl_backlog_ttl|default('3600') }}
slave-priority {{ item.config.slave_priority|default('100') }}
min-slaves-to-write {{ item.config.min_slaves_to_write|default('0') }}
min-slaves-max-lag {{ item.config.min_slaves_max_lag|default('10') }}
{% endif %}

################################## SECURITY ###################################

{% if item.config.requirepass is defined %}
requirepass {{ item.config.requirepass }}
{% endif %}

################################### LIMITS ####################################

maxclients {{ item.config.maxclients|default('10000') }}
{% if item.config.maxmemory is defined %}
maxmemory {{ item.config.maxmemory }}
{% endif %}
maxmemory-policy {{ item.config.maxmemory_policy|default('noeviction') }}
maxmemory-samples {{ item.config.maxmemory_samples|default('5') }}

############################## APPEND ONLY MODE ###############################

appendonly {{ item.config.appendonly|default('no') }}
appendfilename {{ item.config.appendfilename|default('"appendonly.aof"') }}
appendfsync {{ item.config.appendfsync|default('everysec') }}
no-appendfsync-on-rewrite {{ item.config.no_appendfsync_on_rewrite|default('no') }}
auto-aof-rewrite-percentage {{ item.config.auto_aof_rewrite_percentage|default('100') }}
auto-aof-rewrite-min-size {{ item.config.auto_aof_rewrite_min_size|default('64mb') }}
aof-load-truncated {{ item.config.aof_load_truncated|default('yes') }}

################################ LUA SCRIPTING  ###############################

lua-time-limit {{ item.config.lua_time_limit|default('5000') }}

{% if item.config.cluster_enabled is defined and item.config.cluster_enabled == "yes" %}
################################ REDIS CLUSTER  ###############################
cluster-enabled {{ item.config.cluster_enabled|default('yes') }}
cluster-config-file {{ item.config.cluster_config_file|default('nodes-6379.conf') }}
cluster-node-timeout {{ item.config.cluster_node_timeout|default('15000') }}
cluster-slave-validity-factor {{ item.config.cluster_slave_validity_factor|default('10') }}
cluster-migration-barrier {{ item.config.cluster_migration_barrier|default('1') }}
cluster-require-full-coverage {{ item.config.cluster-require-full-coverage|default('yes') }}
{% endif %}

################################## SLOW LOG ###################################

slowlog-log-slower-than {{ item.config.slowlog_log_slower_than|default('10000') }}
slowlog-max-len {{ item.config.slowlog_max_len|default('128') }}

################################ LATENCY MONITOR ##############################

latency-monitor-threshold {{ item.config.latency_monitor_threshold|default('0') }}

############################# EVENT NOTIFICATION ##############################

notify-keyspace-events {{ item.config.notify_keyspace_events|default('""') }}

############################### ADVANCED CONFIG ###############################

hash-max-ziplist-entries {{ item.config.hash_max_ziplist_entries|default('512') }}
hash-max-ziplist-value {{ item.config.hash_max_ziplist_value|default('64') }}
list-max-ziplist-entries {{ item.config.list_max_ziplist_entries|default('512') }}
list-max-ziplist-value {{ item.config.list_max_ziplist_value|default('64') }}
set-max-intset-entries {{ item.config.set_max_intset_entries|default('512') }}
zset-max-ziplist-entries {{ item.config.zset_max_ziplist_entries|default('128') }}
zset-max-ziplist-value {{ item.config.zset_max_ziplist_value|default('64') }}
hll-sparse-max-bytes {{ item.config.hll_sparse_max_bytes|default('3000') }}
activerehashing {{ item.config.activerehashing|default('yes') }}
{% if item.config.client_output_buffer_limit is defined %}
client-output-buffer-limit normal {{ item.config.client_output_buffer_limit.normal|default('0 0 0') }}
client-output-buffer-limit slave {{ item.config.client_output_buffer_limit.slave|default('256mb 64mb 60') }}
client-output-buffer-limit pubsub {{ item.config.client_output_buffer_limit.pubsub|default('32mb 8mb 60') }}
{% else %}
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
{% endif %}
hz {{ item.config.hz|default('10') }}
aof-rewrite-incremental-fsync {{ item.config.aof_rewrite_incremental_fsync|default('yes') }}
