# {{ ansible_managed }}

################################ GENERAL  #####################################

daemonize {{ item.config.daemonize|default('yes') }}
pidfile {{ item.home~'/run/redis.pid' }}
port  {{ item.config.port|default('6379') }}
tcp-backlog {{ item.config.tcp_backlog|default('511') }}
bind {{ item.config.bind|default('0.0.0.0') }}
{% if item.config.unixsocket is defined %}
unixsocket {{ item.home~'/run/redis.sock' }}
unixsocketperm {{ item.config.unixsocketperm|default('700') }}
{% endif %}
timeout {{ item.config.timeout|default('0') }}
tcp-keepalive {{ item.config.tcp_keepalive|default('0') }}
loglevel {{ item.config.loglevel|default('notice') }}
logfile {{ item.home~'/log/redis.log' }}
{% if item.config.syslog_enabled is defined and item.config.syslog_enabled == "yes" %}
syslog-enabled yes
syslog-ident {{ item.config.syslog_ident|default('redis') }}
syslog-facility {{ item.config.syslog_facility|default('local0') }}
{% endif %}
databases {{ item.config.databases|default('16') }}

################################ SNAPSHOTTING  ################################

{% if item.config.saves is defined %}
{% for save in item.config.saves %}
save {{ save['seconds'] }} {{ save['threshold'] }}
{% endfor %}
{% else %}
save 900 1
save 300 10
save 60 10000
{% endif %}
stop-writes-on-bgsave-error {{ item.config.stop_writes_on_bgsave_error|default('yes') }}
rdbcompression {{ item.config.rdbcompression|default('yes') }}
rdbchecksum {{ item.config.rdbchecksum|default('yes') }}
dbfilename {{ item.config.dbfilename|default('dump.rdb') }}
dir {{ item.home~'/data' }}

{% if item.config.slaveof is defined and item.config.slaveof.master is defined %}
################################# REPLICATION #################################

slaveof {{ item.config.slaveof.master }} {{ item.config.slaveof.port|default('6379') }}
{% if item.config.masterauth is defined %}
masterauth {{ item.config.masterauth }}
{% endif %}
slave-serve-stale-data {{ item.config.slave_serve_stale_data|default('yes') }}
slave-read-only {{ item.config.slave_read_only|default('yes') }}

# Replication SYNC strategy: disk or socket.
repl-diskless-sync {{ item.config.repl_diskless_sync|default('no') }}
repl-diskless-sync-delay {{ item.config.repl-diskless_sync_delay|default('5') }}
repl-ping-slave-period {{ item.config.repl_ping_slave_period|default('10') }}
repl-timeout {{ item.config.repl_timeout|default('60') }}
repl-disable-tcp-nodelay {{ item.config.repl_disable_tcp_nodelay|default('no') }}
repl-backlog-size {{ item.config.repl_backlog_size|default('1mb') }}
repl-backlog-ttl  {{ item.config.repl_backlog_ttl|default('3600') }}
slave-priority {{ item.config.slave_priority|default('100') }}
min-slaves-to-write {{ item.config.min_slaves_to_write|default('0') }}
min-slaves-max-lag {{ item.config.min_slaves_max_lag|default('10') }}
{% endif %}

################################## SECURITY ###################################

{% if item.config.requirepass is defined %}
requirepass {{ item.config.requirepass }}
{% endif %}

################################### LIMITS ####################################

maxclients {{ item.config.maxclients|default('10000') }}
{% if item.config.maxmemory is defined %}
maxmemory {{ item.config.maxmemory }}
{% endif %}
maxmemory-policy {{ item.config.maxmemory_policy|default('noeviction') }}
maxmemory-samples {{ item.config.maxmemory_samples|default('5') }}
